* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    border: 1px solid black;
    display: flex;
    /* flex-wrap: wrap; */
}

.square {
    width: 30px;
    height: 30px;
    border: 1px red solid;
}